@font-face {
	font-family: "Victor Mono Bold";
	src: url(../font/VictorMono-Bold.woff);
}

@font-face {
	font-family: "Victor Mono Medium";
	src: url(../font/VictorMono-Medium.woff);
}

@font-face {
	font-family: "Victor Mono Thin";
	src: url(../font/VictorMono-Thin.woff);
}

@font-face {
	font-family: "Victor Mono Thin Italic";
	src: url(../font/VictorMono-ThinItalic.woff);
}

@font-face {
	font-family: "Victor Mono Thin Oblique";
	src: url(../font/VictorMono-ThinOblique.woff);
}

@font-face {
	font-family: "Victor Mono Light";
	src: url(../font/VictorMono-Light.woff);
}

@font-face {
	font-family: "Victor Mono Light Italic";
	src: url(../font/VictorMono-LightItalic.woff);
}

body {
	font-family: "Victor Mono Thin";
	color: black;
	background-color: white;
}

h1 {
	font-family: "Victor Mono Medium";
}

h2 {
	font-family: "Victor Mono Medium";
	padding-top: 30px;
}

h3 {
	font-family: "Victor Mono Thin Italic";
}

section a {
	text-decoration: underline;
}

.wy-nav-side, .wy-side-nav-search, .wy-menu-vertical li.current, .wy-side-nav-search .wy-dropdown > a, .wy-side-nav-search > a, .toctree-l1, .wy-menu-vertical a, .wy-menu-vertical li.current a {
	background-color: white;
	color: black;
	border: none;
}

.wy-menu-vertical li.current ul {
	font-family: "Victor Mono Thin Italic";
}

.wy-menu-vertical a:hover {
	background-color: #d6d6d6;
}

#rtd-search-form, .rst-footer-buttons, .rst-versions {
	display: none;
}

a, a:hover, a:visited {
	color: black;
}

footer a {
	text-decoration: underline;
	color: black;
}

.wy-nav-content {
	max-width: 100%;
}

.wy-nav-content-wrap {
	background-color: white;
}

footer {
	bottom: 30px;
	position: relative;
	padding-top: 20px;
}

hr {
	border: 1px solid #c9c9c9;
}

.wy-breadcrumbs {
	margin-bottom: 30px;
}

.fa-home::before, .icon-home::before {
	display: none;
}

.rst-content code {
	color: black;
}

.rst-content pre code {
	white-space:pre-line;
}

em {
	font-size: 0.9em;
	color: #404040;
	font-family: "Victor Mono Light";
	padding-left: 20px;
}

/* td {
	display: none;
} */