@font-face {
	font-family: "Victor Mono Bold";
	src: url(../font/VictorMono-Bold.woff);
}

@font-face {
	font-family: "Victor Mono Medium";
	src: url(../font/VictorMono-Medium.woff);
}

@font-face {
	font-family: "Victor Mono Thin";
	src: url(../font/VictorMono-Thin.woff);
}

@font-face {
	font-family: "Victor Mono Thin Oblique";
	src: url(../font/VictorMono-ThinOblique.woff);
}

@font-face {
	font-family: "Victor Mono Light";
	src: url(../font/VictorMono-Light.woff);
}

#liste {
	display: flex;
	flex-flow: row wrap;
	max-width: 100%;
}

.document {
	padding: 20px;
	margin: -1px;
	border: 2px solid black;
	list-style-type:none;
	min-width: 300px;
	flex-grow: 1.2;
	font-family: "Victor Mono Light";
}

.title {
	font-size: 20px;
	font-family: "Victor Mono Medium";
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: black;
}

.infos {
	font-size: 15px;
	line-height: 2;
	font-family: "Victor Mono Thin";
}

ul {
	padding-left: 0px;
	margin-left: 0px;
}

.creators {
	color: black;
	font-size: 18px;
	list-style: none;
	font-family: "Victor Mono Light";
	margin: 5px;
}

/* .publisher {
	color: black;
	font-size: 18px;
	list-style: none;
	font-family: Victor Mono Light;
} */

.tag {
	font-style: italic;
	line-height: 2;
	font-family: "Victor Mono Thin Oblique";
}

#notes {
	color: black;
	font-size: 15px;

	display: flex;
	justify-content: stretch;
	box-sizing: content-box;
	align-items: flex-start;
	font-family: "Victor Mono Light";
}

#abstractNote {
	color: black;
	font-size: 15px;

	display: flex;
	justify-content: stretch;
	box-sizing: content-box;
	font-family: "Victor Mono Light";
}

.boite-courte {
	border: 1px solid black;
	margin: 5px;
	padding: 10px;
	max-width: 500px;
}

details {
	border: 1px solid black;
	margin: 5px;
	padding: 10px;
	max-width: 500px;
}

details[open] {
	max-height: 200px;
	overflow: auto;
}

details > summary {
	cursor:pointer;
	list-style: none;
}

details[open] > summary span {
	display: none;
  }

.desactive {
	display: none;
}

.texte_tag_filtre {
  cursor: pointer;
  font-family: Victor Mono Thin;
  border: 1px black solid;
  border-radius: 3px;
  padding: 0 2px;
}


#tagList ul{
	display: flex;
	width: 100vw;
	left: 0;
	margin: 0 0;
	list-style: none;
	list-style-position: inside;
	flex-wrap: wrap;
	padding: 0;
}

.tag_non_selection{
	border: 1px solid black;
	margin:-0.5px;
	list-style: none;
	padding: 5px 20px;
	font-family: "Victor Mono Thin Oblique";
}
.tag_selection {
	background-color: lightgray;
}